{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="card-title">Réinitialisation du mot de passe</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Vous avez demandé la réinitialisation de votre mot de passe en indiquant ce courriel <strong>{{ email }}</strong>. Cliquez sur le lien ci-dessous pour procéder :</p>
                    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="btn btn-primary">Réinitialiser mon mot de passe</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
