{% extends 'base.html' %}

{% block content %}
<!-- Barre de recherche -->
<div class="d-flex justify-content-end">
    <form action="{% url 'recherche_sujet' %}" method="get" class="search-form">
        <input class="search-input" type="search" placeholder="Rechercher un sujet" aria-label="Recherche" name="q" required>
        <button class="search-button" type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>
<!-- Titre de la page -->
<h2 class="fw-bold text-primary text-center mt-5 mb-4">Liste des Sujets</h2>

<div class="alert alert-primary">
    {% if query %}
    <div class="lead">Résultats pour <span class="text-warning">{{ query }}</span></div>
    {% elif filiere_choisie %}
    <div class="lead">Résultats pour <span class="text-warning"> {{ type_sujet_choisi }}: {{ filiere_choisie }} - {{ niveau_choisi }}</span></div>
    {% else %}
    <div class="lead">Explorez notre collection complète de sujets. Utilisez la barre de recherche ci-dessus pour filtrer les résultats selon vos intérêts.</div>
    {% endif %}
</div>    

<!-- Cartes des sujets -->
<div class="row">
    {% for sujet in page_obj %}
    <div class="col-md-4 mb-3">
        <div class="card h-100 shadow">
            <div class="card-body">
                <h4 class="card-title">{{ sujet.titre }}</h4>
                <h5 class="card-subtitle mb-2 text-muted">{{ sujet.code_cours }}</h5>
                <a href="{% url 'detail_sujet' sujet.id %}" class="btn btn-primary">Voir les détails</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- Pagination links -->
<div class="containner">
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">« première</a>
                <a href="?page={{ page_obj.previous_page_number }}">précédente</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">suivante</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">dernière »</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
