{% extends 'base.html' %}

{% block title %}Tarifs - My Fax{% endblock %}

{% block content %}
<div class="container py-3">
    <div class="row justify-content-center py-4">
        <div class="col-md-8 text-center">
            <h1 class="display-5 fw-bolder text-primary">Nos tarifs</h1>
            <p class="lead font-italic text-light">Découvrez nos tarifs les plus abordables possible</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 my-1">
            <div class="card shadow rounded rounded-2 p-4">
                <div class="card-header w-100 bg-light text-center">
                    <h3 class="fw-bold text-dark">FREE</h3>
                    <span class="font-italic text-primary fw-bolder">0 XAF</span>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-success"></i>
                                <span>Epreuves d'examens</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-success"></i>
                                <span>Explication de concepts et de théories</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-success"></i>
                                <span>5 Exercices par jour sans corrigé</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-danger"></i>
                                <span>Corrigés d'epreuves</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-danger"></i>
                                <span>Quizz interactifs</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-danger"></i>
                                <span>Videos explicatives</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-danger"></i>
                                <span>Fiches de travaux dirigés</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-danger"></i>
                                <span>Fiches de révision de cours</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-danger"></i>
                                <span>Teacher AI (l'enseignant ai puissant) </span>
                            </a>
                        </li>
                        <li class="mb-2 mt-3 list-unstyled">
                            <a href="" class="w-100 btn btn-dark shadow-none ">
                               Souscrire
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-1">
            <div class="card shadow rounded rounded-2 p-4 border border-2 border-success">
                <div class="card-header w-100 bg-light text-center">
                    <h3 class="fw-bold text-success">PRO</h3>
                    <span class="font-italic text-primary fw-bolder">10.000 XAF</span>
                    <p class="fw-bolder mt-3 text-uppercase text-danger">Recommandé</p>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-success"></i>
                                <span>Epreuves d'examens</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-success"></i>
                                <span>Corrigés d'epreuves</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-success"></i>
                                <span>Explication de concepts et de théories</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-success"></i>
                                <span>5 Exercices par jour avec corrigé</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-success"></i>
                                <span>Quizz interactifs</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-success"></i>
                                <span>Videos explicatives</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-danger"></i>
                                <span>Fiches de travaux dirigés</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-danger"></i>
                                <span>Fiches de révision de cours</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-danger"></i>
                                <span>Teacher AI (l'enseignant ai puissant) </span>
                            </a>
                        </li>
                        <li class="mb-2 mt-3 list-unstyled">
                            <a href="" class="w-100 btn btn-success shadow-none">
                               Souscrire
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-1">
            <div class="card shadow rounded rounded-2 p-4">
                <div class="card-header w-100 bg-light text-center">
                    <h3 class="fw-bold text-warning">GOLD</h3>
                    <span class="font-italic text-primary fw-bolder">20.000 XAF</span>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-success"></i>
                                <span>Epreuves d'examens</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-success"></i>
                                <span>Corrigés d'epreuves</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-success"></i>
                                <span>Explication de concepts et de théories</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-success"></i>
                                <span>5 Exercices par jour avec corrigé</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-success"></i>
                                <span>Quizz interactifs</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-success"></i>
                                <span>Videos explicatives</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-success"></i>
                                <span>Fiches de travaux dirigés</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-success"></i>
                                <span>Fiches de révision de cours</span>
                            </a>
                        </li>
                        <li class="mb-2 list-unstyled">
                            <a href="" class="plan-text align-items-center text-decoration-none">
                                <i class="fa fa-certificate text-success"></i>
                                <span>Teacher AI (l'enseignant ai puissant) </span>
                            </a>
                        </li>
                        <li class="mb-2 mt-3 list-unstyled">
                            <a href="" class="w-100 btn btn-warning shadow-none">
                               Souscrire
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}